Repository jdalrymple/node-hg-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

test: Updating test script
  .travis.yml
Due: prettier --write

docs: Updating license and README
  LICENCE.md
  README.md
Due: prettier --write

test: Switching to jest
  .eslintrc.yaml
  jest.config.json
  package-lock.json
  package.json
  tests/Hg.js
  tests/HgRepo.js
Due: prettier --write

chore: Updating to es code for better tree shaking
  src/Command.js
  src/Hg.js
  src/HgRepo.js
  src/Utils.js
  src/index.js
Due: npm run lint:fix

chore: Updating jest
  package.json
Due: prettier --write

chore: Updating package.lock
  package-lock.json
Due: prettier --write

chore: Updating gitignore
  .gitignore
Due: none

style: Linting docs
  LICENCE.md
  README.md
  jest.config.json
Due: prettier --write

chore: babel updates
  .babelrc.js
  package-lock.json
  package.json
Due: prettier --write

test: Fixing travis config
  .travis.yml
Due: prettier --write

chore: fixing eslint config
  package.json
Due: prettier --write

chore: fixing jest config
  jest.config.json
Due: prettier --write

test: some test fixes
  src/Hg.js
  tests/Hg.js
Due: npm run lint:fix

chore: linting fixes
  tests/Hg.js
Due: none

adding some debug logs
  src/Hg.js
  tests/Hg.js
Due: npm run lint:fix

Linting
  tests/Hg.js
Due: none

Path conditions:
  npm run lint:fix: any of: src/**/*.{js, ts}
  prettier --write: any of: *.{json,md,yml}
